body{
  font-size: 14px;
  margin: 0;
  font-family: sans-serif;
  background-color: lightgray;
}

.table-ini {
  margin: auto;
  width: 60%;
  font-size: 12px;
}

th, td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid black;
}

th {
  background-color: #044868;
  color: white;
  font-style: oblique;
}

.btn-newproject {
  display: block;
  margin: 20px auto;
  background-color: #044868;
  border: none;
  color: white;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 8px;
}

.btn-newproject:hover{
  color: black;
}

.btn-pname {
  display: block;
  margin: 20px auto;
  background-color: #044868;
  border: none;
  color: white;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 8px;
}

.btn-pname:hover{
  color: black;
}
