header {
  justify-content: space-between;
  background-color: grey;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img{
  height: 100px;
}

.logo-nombre{
  color: #044868;
}

.btn-logout{
  background-color: #044868;
  border: none; /* Sin borde */
  color: white; /* Texto en blanco */
  padding: 12px 25px; /* Espacio interno */
  text-align: center; /* Centrado de texto */
  text-decoration: none; /* Sin decoración de texto */
  font-size: 16px; /* Tamaño de letra */
  margin-left: auto; /* Mueve el botón a la derecha */
  cursor: pointer;
  border-radius: 8px;
}

.btn-logout:hover{
  color: black;
}
