body{
    text-align: center;
}

h2{
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 6px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    font-size: 14px;
    outline: none;
  }

  /* Estilos cuando el input está enfocado */
  input[type="text"]:focus {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  input[type="date"] {
    padding: 6px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    font-size: 14px;
    outline: none;
  }

  /* Estilos cuando el input está enfocado */
  input[type="date"]:focus {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  /* Estilos específicos para el input de fecha */
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 0.6;
    cursor: pointer;
  }

  /* Estilos para el texto dentro del input */
  input[type="date"]::-webkit-datetime-edit-text {
    color: #333;
  }

  /* Estilos para los números dentro del input */
  input[type="date"]::-webkit-datetime-edit-year-field,
  input[type="date"]::-webkit-datetime-edit-month-field,
  input[type="date"]::-webkit-datetime-edit-day-field {
    color: #333;
    opacity: 0.8;
  }


.btn-newproject2{
    margin: 10px;
    background-color: #044868;
    border: none;
    color: white;
    padding: 8px 24px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 25px;
}

.btn-back {
    position: absolute;
    margin-left: -30%;
    margin-top: 30px;
    padding: 8px 20px;
    border: none;
    background-color: #044868;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
.btn-back:hover {
    background-color: black;
    color: white;
}
  
.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid white;
    margin-right: 5px;
    vertical-align: middle;
}